apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-static-site
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: demo-static-site=dohieu825/demo-static-site
    argocd-image-updater.argoproj.io/write-back-method: git
    argocd-image-updater.argoproj.io/demo-static-site.update-strategy: newest-build
    argocd-image-updater.argoproj.io/git-branch: main
spec:
  project: default
  source:
    repoURL: https://github.com/doxuanhieu185/demo-argocd
    targetRevision: HEAD
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
